* {
    box-sizing: border-box;
    margin:0px;
    padding: 0px;
  }
  
  body{
    background-color:sienna;
}
  
  /* Style the header */
  .header {
    border: 10px solid gray;
    background-color:khaki;
    margin:20px;
    padding: 10px;
    text-align: center;
    font-size: 35px;
    color:lightcoral;
  }
  
  /* Style the top navigation bar */
  .topnav {
    overflow: hidden;
    background-color: indianred;
    margin: 0px 20px 20px 20px;
  }
  
  /* Style the topnav links */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change color on hover */
  .topnav a:hover {
    background-color: tomato;
  }

  /* Create three equal columns that floats next to each other */
  .column {
    float: left;
    width: 20%;
    padding: 15px 10px 10px;
  }
  .row{
    overflow: hidden;
    margin:40px;
  }
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width:600px) {
    .column {
      width: 100%;
    }
  }
  h3{
    padding-top: 10px;
  }

  footer{
    float: left;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
    width: 95%;
    margin: 0px 0px 20px 20px;
    color: black; 
    font-size: 18px; 
    font-weight: 400; 
    text-align: center; 
    padding: 20px; 
    border: 2px solid #5878ca;
    background-color: khaki; 
  }